body{
    background: rgb(15 23 42) !important;
    color: rgb(148 163 184) !important;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}
.split {
    height: 100vh;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: justify;
  }
  
  .left {
    left: 0;
    width: 50%;
    display: flex;
  }
  
  .right {
    right: 0;
    padding-top: 0;
  }
  .profile{
    width: 60%;
    margin: 10% auto;
  }
/* responsive controlls */

.desktop{
    display: block;
}
.mobile{
    display: none;
}
  /* profile section */
  .name{
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 0;
      margin-top: 0;
  }
  .role{
      font-size: 1.25 rem;
      line-height: 1;
      margin-top: 10px;
  }

  .social {
      bottom: 100px;
      position: absolute;
  }
  .social ul li{
    display:inline;
    margin: 10px;
  }
  .social ul li a{
    text-decoration: none;
  }
  .social ul li a i{
   font-size: 1.5rem;
  }

  .nav{
      margin: 70px auto;
  }
  .nav a{
      text-decoration: none;
      padding-top: .75 rem;
      padding-bottom: .75rem;
      align-items: center;
      display: flex;
      text-transform: uppercase;
  }


  /* Details section */
  .details{
    width: 70%;
    margin: 10% auto;
  }
  .details-sec{
    margin-top: 10%;
  }
  .details-sec .row{
      margin-top: 1rem;
  }
  .skills li{
      display: inline;
      background-color: aquamarine;
      padding: 4px 8px;
      margin-top: .5rem;
      border-radius: 1px;
      padding-top: .25rem;
      padding-bottom: .25rem;
      font-size: .75rem;
      padding-left: .75rem;
      padding-right: .75rem;
      border-radius: 9999px;
      background-color:  	#7d12ff;
      --tw-text-opacity: 1;
  color: rgb(94 234 212/var(--tw-text-opacity));
  line-height: 2rem;

  }
  .highlight{
    border-radius:10px ;
    padding: 1rem;
    opacity: .5 !important;
  }
  .highlight:hover{
    
    background-color: white;
      box-shadow: 0px 0px 1px 1px;
      opacity: 1 !important;

  }

  .cer-badge{
      width: 100%;
  }

  .badge-year{
      margin-top: 1.5rem;
  }
  
  @media (max-width: 768px) { 
    .split{
      display: block;
      position: relative;
      width: 100%;
      height: auto;
    }
    .left{
      display: block;
      position: relative;
      width: 100%;
    }
     .centered{
      padding: 5px;
    }
    .desktop{
        display:none !important;
    }
    .mobile{
        display: block !important;
    }
    .social{
        position: relative !important;
        bottom: unset !important;
        align-items: unset;
    }
    .profile{

            width: 90%;
            margin: 1% auto;

    }
    .details {
        width: 90%;
        margin: 1% auto;
        }

    .sticky{
        position: fixed;
        top: 0;
        z-index: 9999;
    }
    .sticky{
      background-color: rgba(15, 23, 42,0.9);
      backdrop-filter: blur(8px);
      width: 100vw;
      padding-left: 1.5rem;padding-right: 1.5rem;
      backdrop-filter: blur(8px);
      /* box-shadow: 0px 0px 100px 0.2px; */
      
    }
    footer{
      height: 60px;
    }
   
  }